In [20]:
#import pandas
import pandas as pd

In [21]:
#jan1 = pd.read_csv('../monthly-data/2020/01/patterns-part1.csv')
#jan_sample = jan1[:100]
#jan_sample.to_csv('../monthly-data/2020/01/patterns-SAMPLE.csv')

In [22]:
#import sample data
data = pd.read_csv('../monthly-data/2020/01/patterns-SAMPLE.csv')
data['safegraph_place_id']

0     sg:0002d23e6d2b49e28f46ce1dc372bd91
1     sg:0019b82576a444f0aadd7ca4c2b8aaf5
2     sg:002d1201d575489b9932bfe440755910
3     sg:0062e5aba6f7452fa0216176269bea39
4     sg:009899f0f8254dadbcd4c9a6e00523b0
                     ...
95    sg:070e5ca20ea545c6962cc510c64d183e
96    sg:07140c2e5df84af2a9dffe69b6ca7685
97    sg:074452074e9a4a8687c94d52b6a314c6
98    sg:0759ce9a1319403cb11060568340c66d
99    sg:0792d45e650849d982665b6ab5bbb663
Name: safegraph_place_id, Length: 100, dtype: object

In [52]:
#import sample data
data = pd.read_csv('test_visits.csv')
data['location_id']

   Unnamed: 0  location_id                             visits
0           0            1  {'ABCD': 9, 'DEFG': 8, 'ASDF': 6}
1           1            2             {'XYZR': 4, 'ABCD': 4}
2           2            3                        {'ASDF': 4}

In [24]:
df = pd.DataFrame({'location_id':[1,2,3], 'visits':[{"ABCD":9,"DEFG":8,"ASDF":6},
                                                    {"XYZR":4,"ABCD":4},
                                                    {"ASDF":4}]})
df.dtypes
pd.json_normalize(df.visits)

   ABCD  DEFG  ASDF  XYZR
0   9.0   8.0   6.0   NaN
1   4.0   NaN   NaN   4.0
2   NaN   NaN   4.0   NaN

In [25]:
df.to_csv('test_visits.csv')

In [26]:
df = pd.read_csv('test_visits.csv')
df.dtypes

Unnamed: 0      int64
location_id     int64
visits         object
dtype: object

In [27]:
from ast import literal_eval
df.visits = df.visits.apply(literal_eval)

In [29]:
pd.json_normalize(df.visits)

   ABCD  DEFG  ASDF  XYZR
0   9.0   8.0   6.0   NaN
1   4.0   NaN   NaN   4.0
2   NaN   NaN   4.0   NaN

In [45]:
df2 = df.visits.apply(pd.Series)
combined_df = pd.concat([df, df2], axis=1)
combined_df = combined_df.drop(['visits'], axis=1)
combined_df

   Unnamed: 0  location_id  ABCD  DEFG  ASDF  XYZR
0           0            1   9.0   8.0   6.0   NaN
1           1            2   4.0   NaN   NaN   4.0
2           2            3   NaN   NaN   4.0   NaN

In [51]:
melted_df = pd.melt(combined_df, id_vars=['location_id'], value_vars=['ABCD', 'DEFG', 'ASDF', 'XYZR'], var_name='home_cbg', value_name='visits')
melted_df = melted_df.dropna()
melted_df.visits = melted_df.visits.astype(int)
melted_df

    location_id home_cbg  visits
0             1     ABCD       9
1             2     ABCD       4
3             1     DEFG       8
6             1     ASDF       6
8             3     ASDF       4
10            2     XYZR       4

In [36]:
visits_data = pd.json_normalize(data=df.visits, meta=['location_id'])
visits_data

   ABCD  DEFG  ASDF  XYZR
0   9.0   8.0   6.0   NaN
1   4.0   NaN   NaN   4.0
2   NaN   NaN   4.0   NaN