In [46]:
#import pandas
import pandas as pd
import numpy as np

In [4]:
#import sample data
data = pd.read_csv('../monthly-data/2020/01/patterns-SAMPLE.csv')
data['safegraph_place_id']
data.dtypes

Unnamed: 0                     int64
safegraph_place_id            object
location_name                 object
street_address                object
city                          object
region                        object
postal_code                    int64
safegraph_brand_ids           object
brands                        object
date_range_start              object
date_range_end                object
raw_visit_counts               int64
raw_visitor_counts             int64
visits_by_day                 object
poi_cbg                      float64
visitor_home_cbgs             object
visitor_daytime_cbgs          object
visitor_work_cbgs             object
visitor_country_of_origin     object
distance_from_home           float64
median_dwell                 float64
bucketed_dwell_times          object
related_same_day_brand        object
related_same_month_brand      object
popularity_by_hour            object
popularity_by_day             object
device_type                   object
dtype: object

In [5]:
df = data

from ast import literal_eval
df.visitor_home_cbgs = df.visitor_home_cbgs.apply(literal_eval)

In [7]:
pd.json_normalize(df.visitor_home_cbgs)

,060530110002,060530118011,060530110001,060530110003,060133720005,060530110004,060530107012,060530110005,060530111011,060730178132,...,530530723101,060374048012,060374069013,340297351033,340270440001,200910529063,261210028001,261210004023,261210028002,261210031002
0,8.0,8.0,7.0,5.0,4.0,4.0,4.0,4.0,4.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,4.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,4.0,4.0,NaN,NaN,NaN,NaN,NaN
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN
98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,4.0,4.0,4.0,4.0
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df2 = df.visitor_home_cbgs.apply(pd.Series)
combined_df = pd.concat([df, df2], axis=1)
combined_df = combined_df.drop(['visitor_home_cbgs'], axis=1)
combined_df

,Unnamed: 0,safegraph_place_id,location_name,street_address,city,region,postal_code,safegraph_brand_ids,brands,date_range_start,...,530530723101,060374048012,060374069013,340297351033,340270440001,200910529063,261210028001,261210004023,261210028002,261210031002
0,0,sg:0002d23e6d2b49e28f46ce1dc372bd91,Shell Oil,2 Del Fino Pl,Carmel Valley,CA,93924,SG_BRAND_2591c98b70119fe624898b1e424b5e91,Shell Oil,2020-01-01T00:00:00-08:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,sg:0019b82576a444f0aadd7ca4c2b8aaf5,Larry Mann DO Bronson Family Medicine,2900 Watkins Rd,Battle Creek,MI,49015,NaN,NaN,2020-01-01T00:00:00-05:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,sg:002d1201d575489b9932bfe440755910,Halifax Plantation Golf Club,3400 Clubhouse Dr,Ormond Beach,FL,32174,NaN,NaN,2020-01-01T00:00:00-05:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,sg:0062e5aba6f7452fa0216176269bea39,Days Inn,2550 Georgetown Rd NW,Cleveland,TN,37311,SG_BRAND_f0f5c15118ea292fadac17e2fc7d4ead,Days Inn,2020-01-01T00:00:00-05:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,sg:009899f0f8254dadbcd4c9a6e00523b0,Itawamba Career & Technical Center,200 Vo Tech Rd,Fulton,MS,38843,NaN,NaN,2020-01-01T00:00:00-06:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,95,sg:070e5ca20ea545c6962cc510c64d183e,Royal Coaches Auto Body and Towing,14827 Ramona Blvd,Baldwin Park,CA,91706,NaN,NaN,2020-01-01T00:00:00-08:00,...,NaN,4.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,96,sg:07140c2e5df84af2a9dffe69b6ca7685,Chizel Fitness,2701 Long Beach Blvd,Ship Bottom,NJ,8008,NaN,NaN,2020-01-01T00:00:00-05:00,...,NaN,NaN,NaN,4.0,4.0,NaN,NaN,NaN,NaN,NaN
97,97,sg:074452074e9a4a8687c94d52b6a314c6,Le Reve Nails,13511 S Mur Len Rd Ste 130,Olathe,KS,66062,NaN,NaN,2020-01-01T00:00:00-06:00,...,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN
98,98,sg:0759ce9a1319403cb11060568340c66d,Sun Lovers Tanning,215 N 3rd Ave,Fruitport,MI,49415,NaN,NaN,2020-01-01T00:00:00-05:00,...,NaN,NaN,NaN,NaN,NaN,NaN,4.0,4.0,4.0,4.0
99,99,sg:0792d45e650849d982665b6ab5bbb663,Independent Bank,3251 Henry St,Muskegon,MI,49441,NaN,NaN,2020-01-01T00:00:00-05:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
# Get an array of the Transient CBGs for Bloomington and convert them each to strings
transient_df = pd.read_csv('bton_transient_cbgs.csv')
transient_df.census_block_group = transient_df.census_block_group.astype(str)
transient_df.dtypes

Unnamed: 0              int64
census_block_group     object
devices07222019         int64
devices02032020         int64
pop_change              int64
pop_pct_change        float64
dtype: object

In [30]:
transient = transient_df.census_block_group.to_numpy()
transient

array(['181050002011', '181050002012', '181050002013', '181050002021',
       '181050002022', '181050003014', '181050003021', '181050007003',
       '181050012002', '181050012005', '181050013014', '181050014012',
       '181050016001', '181050016002', '181050016003'], dtype=object)

In [45]:
# Get array of dataframe columns
list(combined_df.columns[1:26])
visitor_cbgs = combined_df.columns[27:].to_numpy()
visitor_cbgs

In [49]:
# Find out which CBGs appear in BOTH the bton_transient list as well as in the visit data
# This should give us a list of only locations that were visited by residents of the Bton transient CBGs
bton_transient_visits = np.intersect1d(transient, visitor_cbgs)
bton_transient_visits

array(['181050002011', '181050002013', '181050002021', '181050003014',
       '181050007003', '181050016001', '181050016003'], dtype=object)

In [50]:
melted_df = pd.melt(combined_df, id_vars=['safegraph_place_id'], value_vars=bton_transient_visits, var_name='home_cbg', value_name='visits')
melted_df = melted_df.dropna()
melted_df.visits = melted_df.visits.astype(int)
melted_df

                      safegraph_place_id      home_cbg  visits
74   sg:056ae699cec14a6796ae68bba2078a67  181050002011       4
174  sg:056ae699cec14a6796ae68bba2078a67  181050002013       4
274  sg:056ae699cec14a6796ae68bba2078a67  181050002021       8
374  sg:056ae699cec14a6796ae68bba2078a67  181050003014       4
474  sg:056ae699cec14a6796ae68bba2078a67  181050007003       4
574  sg:056ae699cec14a6796ae68bba2078a67  181050016001       4
613  sg:014dc5287531458dbded5b63a9cea939  181050016003       4

In [51]:
# Join this back with the original data so that each location has a separate row for each home_cbg in the Bton transient list

merged_df = pd.merge(data, melted_df, on='safegraph_place_id')
merged_df

,Unnamed: 0,safegraph_place_id,location_name,street_address,city,region,postal_code,safegraph_brand_ids,brands,date_range_start,...,distance_from_home,median_dwell,bucketed_dwell_times,related_same_day_brand,related_same_month_brand,popularity_by_hour,popularity_by_day,device_type,home_cbg,visits
0,13,sg:014dc5287531458dbded5b63a9cea939,The Art of Shaving,2801 W Big Beaver Rd Ste K240,Troy,MI,48084,SG_BRAND_2b2de6e5e806bd0b,The Art of Shaving,2020-01-01T00:00:00-05:00,...,20866.0,21.0,"{""<5"":58,""5-20"":1565,""21-60"":1440,""61-240"":384...","{""Tesla Motors"":43,""Macy's"":9,""Bath & Body Wor...","{""Tesla Motors"":65,""Starbucks"":36,""Kroger"":33,...","[7,5,3,2,1,0,8,17,41,95,193,289,451,625,739,76...","{""Monday"":379,""Tuesday"":215,""Wednesday"":435,""T...","{""android"":600,""ios"":2355}",181050016003,4
1,74,sg:056ae699cec14a6796ae68bba2078a67,Walt Disney World Resort,Walt Disney World Resort,Orlando,FL,32830,SG_BRAND_434e9aa0a55d5fb7,Walt Disney Parks and Resorts,2020-01-01T00:00:00-05:00,...,302269.0,187.0,"{""<5"":8262,""5-20"":172924,""21-60"":140450,""61-24...",{},"{""Publix Super Markets"":21,""Walmart"":20,""McDon...","[239196,228945,226172,227811,232970,245325,272...","{""Monday"":135376,""Tuesday"":114608,""Wednesday"":...","{""android"":117264,""ios"":154739}",181050002011,4
2,74,sg:056ae699cec14a6796ae68bba2078a67,Walt Disney World Resort,Walt Disney World Resort,Orlando,FL,32830,SG_BRAND_434e9aa0a55d5fb7,Walt Disney Parks and Resorts,2020-01-01T00:00:00-05:00,...,302269.0,187.0,"{""<5"":8262,""5-20"":172924,""21-60"":140450,""61-24...",{},"{""Publix Super Markets"":21,""Walmart"":20,""McDon...","[239196,228945,226172,227811,232970,245325,272...","{""Monday"":135376,""Tuesday"":114608,""Wednesday"":...","{""android"":117264,""ios"":154739}",181050002013,4
3,74,sg:056ae699cec14a6796ae68bba2078a67,Walt Disney World Resort,Walt Disney World Resort,Orlando,FL,32830,SG_BRAND_434e9aa0a55d5fb7,Walt Disney Parks and Resorts,2020-01-01T00:00:00-05:00,...,302269.0,187.0,"{""<5"":8262,""5-20"":172924,""21-60"":140450,""61-24...",{},"{""Publix Super Markets"":21,""Walmart"":20,""McDon...","[239196,228945,226172,227811,232970,245325,272...","{""Monday"":135376,""Tuesday"":114608,""Wednesday"":...","{""android"":117264,""ios"":154739}",181050002021,8
4,74,sg:056ae699cec14a6796ae68bba2078a67,Walt Disney World Resort,Walt Disney World Resort,Orlando,FL,32830,SG_BRAND_434e9aa0a55d5fb7,Walt Disney Parks and Resorts,2020-01-01T00:00:00-05:00,...,302269.0,187.0,"{""<5"":8262,""5-20"":172924,""21-60"":140450,""61-24...",{},"{""Publix Super Markets"":21,""Walmart"":20,""McDon...","[239196,228945,226172,227811,232970,245325,272...","{""Monday"":135376,""Tuesday"":114608,""Wednesday"":...","{""android"":117264,""ios"":154739}",181050003014,4
5,74,sg:056ae699cec14a6796ae68bba2078a67,Walt Disney World Resort,Walt Disney World Resort,Orlando,FL,32830,SG_BRAND_434e9aa0a55d5fb7,Walt Disney Parks and Resorts,2020-01-01T00:00:00-05:00,...,302269.0,187.0,"{""<5"":8262,""5-20"":172924,""21-60"":140450,""61-24...",{},"{""Publix Super Markets"":21,""Walmart"":20,""McDon...","[239196,228945,226172,227811,232970,245325,272...","{""Monday"":135376,""Tuesday"":114608,""Wednesday"":...","{""android"":117264,""ios"":154739}",181050007003,4
6,74,sg:056ae699cec14a6796ae68bba2078a67,Walt Disney World Resort,Walt Disney World Resort,Orlando,FL,32830,SG_BRAND_434e9aa0a55d5fb7,Walt Disney Parks and Resorts,2020-01-01T00:00:00-05:00,...,302269.0,187.0,"{""<5"":8262,""5-20"":172924,""21-60"":140450,""61-24...",{},"{""Publix Super Markets"":21,""Walmart"":20,""McDon...","[239196,228945,226172,227811,232970,245325,272...","{""Monday"":135376,""Tuesday"":114608,""Wednesday"":...","{""android"":117264,""ios"":154739}",181050016001,4