In [2]:
#import pandas
import pandas as pd

In [3]:
jan1 = pd.read_csv('../monthly-data/2020/01/patterns-part1.csv')
jan_sample = jan1[:100]
jan_sample.to_csv('../monthly-data/2020/01/patterns-SAMPLE.csv')

In [5]:
#import sample data
data = pd.read_csv('../monthly-data/2020/01/patterns-SAMPLE.csv')
data['safegraph_place_id']

0     sg:0002d23e6d2b49e28f46ce1dc372bd91
1     sg:0019b82576a444f0aadd7ca4c2b8aaf5
2     sg:002d1201d575489b9932bfe440755910
3     sg:0062e5aba6f7452fa0216176269bea39
4     sg:009899f0f8254dadbcd4c9a6e00523b0
                     ...
95    sg:070e5ca20ea545c6962cc510c64d183e
96    sg:07140c2e5df84af2a9dffe69b6ca7685
97    sg:074452074e9a4a8687c94d52b6a314c6
98    sg:0759ce9a1319403cb11060568340c66d
99    sg:0792d45e650849d982665b6ab5bbb663
Name: safegraph_place_id, Length: 100, dtype: object

In [6]:
#import sample data
data = pd.read_csv('test_visits.csv')
data['location_id']

1234  {"abcd":4      "defg":5
2345  {"zyxw":12      vuts:6}
Name: location_id, dtype: object

In [23]:
df = pd.DataFrame({'location_id':[1,2,3], 'visits':[{"ABCD":9,"DEFG":8,"ASDF":6},
                                                    {"XYZR":4,"ABCD":4},
                                                    {"ASDF":4}]})
df.dtypes
pd.json_normalize(df.visits)

   ABCD  DEFG  ASDF  XYZR
0   9.0   8.0   6.0   NaN
1   4.0   NaN   NaN   4.0
2   NaN   NaN   4.0   NaN

In [17]:
df.to_csv('test_visits.csv')

In [22]:
df = pd.read_csv('test_visits.csv')
df.dtypes

Unnamed: 0      int64
location_id     int64
visits         object
dtype: object

In [25]:
pd.json_normalize(df.visits)

AttributeError: 'str' object has no attribute 'values'