In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data = pd.read_csv('bloomington_transient_visits_01_2020.csv')
data['safegraph_place_id']
data.dtypes

In [ ]:
# Rename the columns
data = data.rename(columns={
    'x181050002011_visits' : '181050002011',
    'x181050002012_visits' : '181050002012',
    'x181050002013_visits' : '181050002013',
    'x181050002021_visits' : '181050002021',
    'x181050002022_visits' : '181050002022',
    'x181050003014_visits' : '181050003014',
    'x181050003021_visits' : '181050003021',
    'x181050007003_visits' : '181050007003',
    'x181050012002_visits' : '181050012002',
    'x181050012005_visits' : '181050012005',
    'x181050013014_visits' : '181050013014',
    'x181050014012_visits' : '181050014012',
    'x181050016001_visits' : '181050016001',
    'x181050016002_visits' : '181050016002',
    'x181050016003_visits' : '181050016003',
})
data.dtypes

In [ ]:
# Get an array of the Transient CBGs for Bloomington and convert them each to strings
transient_df = pd.read_csv('bton_transient_cbgs.csv')
transient_df.census_block_group = transient_df.census_block_group.astype(str)
transient_df.dtypes
transient = transient_df.census_block_group.to_numpy()
transient

In [ ]:
# Fill any NaN values with zeroes
data = data.fillna(0)
data.dtypes

In [ ]:
# Convert each visit column in the dataframe to int instead of float64

for cbg in transient:
    data[cbg] = data[cbg].astype(int)

data.head()

In [ ]:
# Create a new dataframe that contains just the places visited
df_visits = data.drop(columns=['location_name', 'street_address', 'city', 'region', 'postal_code', 'safegraph_brand_ids', 'date_range_start', 'date_range_end', 'visitor_home_cbgs'])
df_visits.head()

In [ ]:
df_visits = pd.melt(df_visits, id_vars=['safegraph_place_id','poi_cbg','latitude','longitude'], value_vars=transient, var_name='source_cbg', value_name='visits')
df_visits.head()

In [ ]:
# Get rid of columns where visits are 0
df_visits = df_visits.visits > 0
df_visits.head()

In [14]:
cbg_coordinates = pd.read_csv('../open_census/safegraph_open_census_data/metadata/cbg_geographic_data.csv')
cbg_coordinates.head()

   census_block_group  amount_land  amount_water   latitude  longitude
0         10010201001    4254524.0         23431  32.465829 -86.489614
1         10010201002    5568295.0             0  32.485849 -86.489690
2         10010202001    2058380.0             0  32.480082 -86.474974
3         10010202002    1283506.0          5968  32.464435 -86.469766
4         10010203001    3866515.0          9054  32.480175 -86.460793

In [15]:
df_visits.to_csv('bloomington_connections_01_2020.csv')