In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('bloomington_transient_visits_01_2020.csv')
data['safegraph_place_id']
data.dtypes

safegraph_place_id       object
location_name            object
street_address           object
city                     object
region                   object
postal_code               int64
safegraph_brand_ids      object
date_range_start         object
date_range_end           object
poi_cbg                   int64
latitude                float64
longitude               float64
visitor_home_cbgs        object
x181050002011_visits    float64
x181050002012_visits    float64
x181050002013_visits    float64
x181050002021_visits    float64
x181050002022_visits    float64
x181050003014_visits    float64
x181050003021_visits    float64
x181050007003_visits    float64
x181050012002_visits    float64
x181050012005_visits    float64
x181050013014_visits    float64
x181050014012_visits    float64
x181050016001_visits    float64
x181050016002_visits    float64
x181050016003_visits    float64
dtype: object

In [3]:
# Rename the columns
data = data.rename(columns={
    'x181050002011_visits' : '181050002011',
    'x181050002012_visits' : '181050002012',
    'x181050002013_visits' : '181050002013',
    'x181050002021_visits' : '181050002021',
    'x181050002022_visits' : '181050002022',
    'x181050003014_visits' : '181050003014',
    'x181050003021_visits' : '181050003021',
    'x181050007003_visits' : '181050007003',
    'x181050012002_visits' : '181050012002',
    'x181050012005_visits' : '181050012005',
    'x181050013014_visits' : '181050013014',
    'x181050014012_visits' : '181050014012',
    'x181050016001_visits' : '181050016001',
    'x181050016002_visits' : '181050016002',
    'x181050016003_visits' : '181050016003',
})
data.dtypes

safegraph_place_id      object
location_name           object
street_address          object
city                    object
region                  object
postal_code              int64
safegraph_brand_ids     object
date_range_start        object
date_range_end          object
poi_cbg                  int64
latitude               float64
longitude              float64
visitor_home_cbgs       object
181050002011           float64
181050002012           float64
181050002013           float64
181050002021           float64
181050002022           float64
181050003014           float64
181050003021           float64
181050007003           float64
181050012002           float64
181050012005           float64
181050013014           float64
181050014012           float64
181050016001           float64
181050016002           float64
181050016003           float64
dtype: object

In [4]:
# Get an array of the Transient CBGs for Bloomington and convert them each to strings
transient_df = pd.read_csv('bton_transient_cbgs.csv')
transient_df.census_block_group = transient_df.census_block_group.astype(str)
transient_df.dtypes
transient = transient_df.census_block_group.to_numpy()
transient

array(['181050002011', '181050002012', '181050002013', '181050002021',
       '181050002022', '181050003014', '181050003021', '181050007003',
       '181050012002', '181050012005', '181050013014', '181050014012',
       '181050016001', '181050016002', '181050016003'], dtype=object)

In [5]:
# Fill any NaN values with zeroes
data = data.fillna(0)
data.dtypes

safegraph_place_id      object
location_name           object
street_address          object
city                    object
region                  object
postal_code              int64
safegraph_brand_ids     object
date_range_start        object
date_range_end          object
poi_cbg                  int64
latitude               float64
longitude              float64
visitor_home_cbgs       object
181050002011           float64
181050002012           float64
181050002013           float64
181050002021           float64
181050002022           float64
181050003014           float64
181050003021           float64
181050007003           float64
181050012002           float64
181050012005           float64
181050013014           float64
181050014012           float64
181050016001           float64
181050016002           float64
181050016003           float64
dtype: object

In [6]:
# Convert each visit column in the dataframe to int instead of float64

for cbg in transient:
    data[cbg] = data[cbg].astype(int)

data.head()

,safegraph_place_id,location_name,street_address,city,region,postal_code,safegraph_brand_ids,date_range_start,date_range_end,poi_cbg,...,181050003014,181050003021,181050007003,181050012002,181050012005,181050013014,181050014012,181050016001,181050016002,181050016003
0,sg:b3c68268355e4631bae227c803460004,Regal Entertainment Group,3300 Brandywine Pkwy,Wilmington,DE,19803,SG_BRAND_6cdab01ceb7ce1a3aa0ed865233aa6cb,2020-01-01 05:00:00 UTC,2020-02-01 05:00:00 UTC,100030112022,...,0,0,0,0,0,0,0,0,0,0
1,sg:0b2e9280292b4552b8e859737f4fe2f4,Dollar Rent A Car,73 200 Kupipi St,Kailua Kona,HI,96740,SG_BRAND_1475e9d7e556cf99fadde01870982e61,2020-01-01 10:00:00 UTC,2020-02-01 10:00:00 UTC,150010215071,...,0,0,0,0,0,0,0,0,4,0
2,sg:a8a42e0fcdc24a2fa01f54ae5995dd51,Daniel K Inouye International Airport Terminal 1,300 Rodgers Blvd,Honolulu,HI,96819,0,2020-01-01 10:00:00 UTC,2020-02-01 10:00:00 UTC,150039802001,...,0,0,0,0,0,0,0,0,0,0
3,sg:d94ac33b210844bc9141203ad1a8c81e,T.J. Maxx,100 Kennedy Memorial Dr,Waterville,ME,4901,SG_BRAND_6ac3d7996fd37353f8027aee42005f19,2020-01-01 05:00:00 UTC,2020-02-01 05:00:00 UTC,230110242002,...,0,0,0,0,0,0,0,4,0,0
4,sg:9b827df5f6a7431ca9cee3a21dc58f4b,Ollie's Trolley,425 12th St NW,Washington,DC,20004,0,2020-01-01 05:00:00 UTC,2020-02-01 05:00:00 UTC,110010058001,...,0,4,0,0,0,0,0,0,0,0

In [12]:
# Create a new dataframe that contains just the places visited
df_visits = data.drop(columns=['location_name', 'street_address', 'city', 'region', 'postal_code', 'safegraph_brand_ids', 'date_range_start', 'date_range_end', 'visitor_home_cbgs'])
df_visits.head()

,safegraph_place_id,poi_cbg,latitude,longitude,181050002011,181050002012,181050002013,181050002021,181050002022,181050003014,181050003021,181050007003,181050012002,181050012005,181050013014,181050014012,181050016001,181050016002,181050016003
0,sg:b3c68268355e4631bae227c803460004,100030112022,39.832852,-75.536028,4,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,sg:0b2e9280292b4552b8e859737f4fe2f4,150010215071,19.734909,-156.035504,0,0,0,0,0,0,0,0,0,0,0,0,0,4,0
2,sg:a8a42e0fcdc24a2fa01f54ae5995dd51,150039802001,21.332093,-157.922898,0,0,0,4,0,0,0,0,0,0,0,0,0,0,0
3,sg:d94ac33b210844bc9141203ad1a8c81e,230110242002,44.539574,-69.652479,0,0,0,0,0,0,0,0,0,0,0,0,4,0,0
4,sg:9b827df5f6a7431ca9cee3a21dc58f4b,110010058001,38.895976,-77.027837,0,0,0,0,0,0,4,0,0,0,0,0,0,0,0

In [13]:
df_visits = pd.melt(df_visits, id_vars=['safegraph_place_id','poi_cbg','latitude','longitude'], value_vars=transient, var_name='source_cbg', value_name='visits')
df_visits.head()

,safegraph_place_id,poi_cbg,latitude,longitude,source_cbg,visits
0,sg:b3c68268355e4631bae227c803460004,100030112022,39.832852,-75.536028,181050002011,4
1,sg:0b2e9280292b4552b8e859737f4fe2f4,150010215071,19.734909,-156.035504,181050002011,0
2,sg:a8a42e0fcdc24a2fa01f54ae5995dd51,150039802001,21.332093,-157.922898,181050002011,0
3,sg:d94ac33b210844bc9141203ad1a8c81e,230110242002,44.539574,-69.652479,181050002011,0
4,sg:9b827df5f6a7431ca9cee3a21dc58f4b,110010058001,38.895976,-77.027837,181050002011,0